/* Crafted-Arc CSS */

/* HTML styles */
#business_card {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: white;
}

/* Bootstrap nav styles */
.nav-link {
  color: rgb(255,255,255);
}

.navbar a:hover {
  color: rgb(0,191,255);
}

#brand_font {
  font-family: brushtipTexe;
  color: #fff;
}

.navbar-dark .navbar-toggler-icon {  
  background-image: none;
}

